[submodule "planetblupi"]
	path = planetblupi
	url = ../planetblupi.git
[submodule "SDL_kitchensink"]
	path = SDL_kitchensink
	url = ../SDL_kitchensink.git
[submodule "planetblupi-data"]
	path = planetblupi-data
	url = ../planetblupi-data.git
[submodule "planetblupi-www"]
	path = planetblupi-www
	url = ../planetblupi-www.git
